<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Construindo com ejs</title>
    <link rel="stylesheet" href="./style.css">
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body{
            background: whitesmoke;
            max-width: 1000px;
            margin: 0 auto;
        }

        header{
            padding: 15px;
            background: rgb(221, 221, 221);
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        header nav a{
            text-decoration: none;
            color: rgb(95, 95, 95);
            font-weight: bold;
        }

        header nav a:nth-child(1){
            margin-right: 15px;
        }

        main{
            padding: 70px 50px;
            background: bisque;
        }

        ul{
            padding: 20px;
        }

        footer{
            padding: 20px 0;
            text-align: center;
        }
    </style>
</head>